*.acn
*.lol
*.acr
*.alg
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz*
*.toc
*.vrb
*.xdy
*.tdo
*blx.bib
*.fls
*.equ

#
#dia
*.dia~

*.swp
*.swo
*latexmain

comment.cut
.ropeproject

*.pyg
*.pygtex
_minted*

*.synctex.gz

*.~*

tags
tags.*

*.run.xml
*.bcf
